/****************************
blue: #117099


******************************/

body {
	
}


a, a:link, a:visited, a:active a:hover {
	color:white;
	text-decoration:none;
}
/************* header *************/
.header, header {
	width: 100%;
	height:100px;
	background-color: #117099;
	color:white;
}
.header h1 {margin-bottom:5px;}
.header p {
	font-size: 14px;
	margin: 0px;
}

.nav ul {
	list-style:none;
	margin:0px;
	padding:0px;
	line-height:100px;
	vertical-align:middle;
}

.nav ul li {
	float:left;
}

.nav li + li a {
	display:block;
	
	margin:0px 0px 0px 20px;
}

/*********** main *************/

.teaser {
	margin-top:1px;
	width: 100%;
	background-color: #117099;
	color: white;
	padding:46px 0 46px 0;
}
.teaser_button {
	text-align:center;
	line-height:53px;
	vertical-align:middle;
	display:block;
	width:300px;
	height:55px;
	background: url('../img/teaser_button_2.png') no-repeat;
	
}
.placeholder_1 {/* wird entfernt, wenn Kontent vorhanden */
	height:290px;
	width:540px;
	background-color:silver;
}

/************* footer *************/

/** Verbesserungsbedarf...**/
/** inline Lösung noch etwas unschön **/
.footer, footer {
	width: 100%;
	background-color: #117099;
	text-align:center;
}

.footer * {
	margin-top: 20px;
}
.footer ul {
	list-style:none;
	padding:20px 0 0 0;;
	display:inline;
}

.footer ul li {
	display:inline;
}

.footer li + li a {
	display:block;
	display:inline;
	margin:20px 0px 0px 20px;
}
/********* other ***********/
.floatLeft {float:left;}
.floatRight{float:right;}


/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }