/************* general *************/
a, a:link, a:visited, a:active a:hover {
	text-decoration:none;
}

.floatLeft {float:left;}
.floatRight{float:right;}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/************* header *************/
.header, header {
	width: 100%;
	height:100px;
	color: white;
	background-color: #769AFF;
}

.header img {margin: 23px 0 5px;}
.header h1 {margin-bottom:5px;}

.header p {
	font-size: 14px;
	margin: 0px;
}

.header a {
	color: white;
}

.nav ul {
	list-style:none;
	margin:0px;
	padding:0px;
	line-height:100px;
	vertical-align:middle;
}

.nav ul li {
	float:left;
}

.nav li + li a {
	display:block;
	
	margin:0px 0px 0px 20px;
}

/*********** main *************/
.teaser {
	margin-top: 1px;
	width: 100%;
	background-color: #769AFF;
	color: white;
	padding:46px 0 46px 0;
}

.button {
	text-align: center;
	vertical-align: middle;
	line-height: 45px;
	display: block;
	width: 300px;
	height: 55px;
	background: url('../img/teaser_button_2.png') no-repeat;
	
}

a.button,
a.button:link,
a.button:visited,
a.button:active,
a.button:hover {
	color: white;
}


.screenshot {/* wird entfernt, wenn Kontent vorhanden */
	width: 540px;
	height: 338px;
	background: white url(../img/screenshot.png) no-repeat center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/************* footer *************/
/** Verbesserungsbedarf...**/
/** inline Lösung noch etwas unschön **/
.footer, footer {
	width: 100%;
	color: white;
	background-color: #769AFF;
	text-align: center;
}

.footer p {
	font-size: 0.8em;
}

.footer * {
	margin-top: 20px;
}

.footer ul {
	list-style: none;
	padding: 20px 0 0 0;;
	display: inline;
}

.footer ul li {
	display: inline;
}

.footer li + li a {
	display: block;
	display: inline;
	margin: 20px 0px 0px 20px;
}

.footer a {
	color: white;
}
